*
{
	margin: auto;
}

body
{
	background-image:url(img.png) , url(https://drive.google.com/uc?id=1rz91ULIvYhS8wQ6fEMzHzydwr3OJgDh0) ;
	background-repeat: no-repeat;
	background-position: center;


}




section
{
	border: 10px solid transparent;
	height: 90vh;
display: flex;
align-items: center;
justify-content: center;


}

.title
{
	
	font-size: 40px;
	padding: 20px;
	margin: 20px;
	border: 10px solid rgb(22,16,82);


}

.title1
{
		color:red ;
	font-size: 40px;
	padding: 20px;
	margin: 20px;
}


div
{
	text-align: center;
}

button{
	margin:5px;
	padding: 10px;
	padding-left: 80px;
	padding-right: 80px;
	background-color: #5691FF  ;
	color: #D9B9EA;
	font-size: 30px;
	border: none;
}


button:hover
{
	color: white;
	background-color: black;
	background-image: none;
	text-shadow: none;
}

button:active
{
	color: black;
	background-color: white;
	background-image: none;
	text-shadow: none;
}


.BI
{
		padding-left: 72px;
	padding-right: 72px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
color: white;
}

.BT
{
			padding-left: 95px;
	padding-right: 95px;
			background-color:#3C4646    ;
	color: #69C9D0;
	text-shadow:  

 
      1px -1px 0 #EE1D52,
       1px 1px 0 #EE1D52;
}

.BY 
{
 		padding-left: 79px;
	padding-right: 79px;
		background-color: #F64141   ;
	color: white;
}


.BE{
	 		padding-left: 95px;
	padding-right: 95px;
		background-color: #00FFFF  ;
	color: white;
}